body{
    font-size: 16px;
}
li{
    float: left;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
/*
    head style start
*/
.head_main{
    background-color: #66ccff;
    height: 45px;
}
.head_logo{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
}
.head_logo:hover{
    text-decoration: none;
}
.head_item li{
    padding-right: 70px;
    line-height: 45px;
}
/*
    head style end
*/

/*
    headimg style start
*/
.headimg_main{
    height: 632px;
    overflow: hidden;
    
    padding: 0;
    box-shadow: 5px 5px 15px #888888;
}
.headimg_main img{
    width: 100%;
    text-align: center;
    
}
/*
    headimg style end
*/

/*
    body style start
*/
.body_left_data{
    margin-bottom: 20px;
}
.body_rightmenu{
    padding-top: 15px;
    text-align: center;
    overflow: hidden;
}
.body_rightmenu img{
    border-radius: 10px;
    border-style: inset;
    border-width: 5px;
    padding: 0;
    border-color: #66ccff;
}
.body_r1{
    
    margin-top: 15px;
    border-bottom-style: outset;
    border-color:violet;
    border-width: 5px;
    border-right-style: outset;
    border-left-style: outset;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #888888;
    overflow: auto;
}
.body_data{
    margin-top: 20px;
    height: 75%;
    overflow: auto;
}
.body_data h1{
    margin-top: 0;
}
.body_bottom{
    float:right;
}
.body_bottom span{
    float: right;
    padding-left: 30px;
    color: #888888;
}
.body_r2{
    height: 250px;
    background-color: blue;
}
.body_r3{
    height: 250px;
    background-color: chocolate;
}
/*
    body style end
*/

/*
    bottom style start
*/
.bottom_pages{
    height: 40px;
    background-color:burlywood;
    text-align: center;
    line-height: 40px;
}
.bottom_main{
    height: 50px;
    background-color: #66ccff;
    text-align: center;
    line-height: 50px;
}
/*
    bottom style end
*/