body{
    font-size: 16px;
}
li{
    float: left;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
a:hover{
    text-decoration: none;
    color: blueviolet;
    
}
a:focus{
    text-decoration: none;
    color: violet;
}

/*
    all style start
*/
.all_body{
    overflow: hidden;
}
.all_main{
    overflow: auto;
    position: relative;
    left: 0px;
}
.all_leftmenu{
    width: 300px;
    background-color:#69a3bf;
    position: fixed;
    z-index: 1000;
    left: -300px;
    overflow-x: hidden;
    overflow-y: scroll;
}
#leftmenu_right{
    position: fixed;
    display: none;
    z-index: 1000;
    background-color: #69a3bf;
    left: 300px;
    opacity: 0;
}
.all_leftdata{
    overflow:hidden;
}
.all_leftdata li{
    margin-bottom: 2px;
    width: 300px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
    
}
.all_leftdata a{
    display: block;
    width: 300px;
    height: 50px;
    background-color: #66ccff;
    padding-left: 20px;
}
.all_leftdata a:hover{
    background-color: #66ccffbe;
}
.all_leftlogo{
    padding: 30px 15px;
    text-align: center;
    overflow: auto;
}
.all_leftlogo img{
    width: 80%;
    border-radius: 10px;
    border-style: inset;
    border-width: 5px;
    padding: 0;
    border-color: #66ccff;
}
/*
    all style end
*/

/*
    head style start
*/
.head_main{
    background-color: #66ccff;
    height: 45px;
    position: fixed;
    z-index: 100;
    line-height: 45px;
}
.head_main span{
    margin-left: 15px;
    display: block;
    overflow: hidden;
    position: absolute;
    cursor: pointer;
    line-height: 45px;
    z-index: 101;
}
.head_main img{
    height: 36px;
    width: 36px;
}
.head_logo{
    display:flex;
}
.head_logo a{
    margin: auto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
}
.head_logo:hover{
    text-decoration: none;
}
.head_item li{
    padding-right: 70px;
    line-height: 45px;
}
/*
    head style end
*/

/*
    headimg style start
*/
.headimg_main{
    height: 632px;
    overflow: hidden;
    margin-top: 45px;
    padding: 0;
    box-shadow: 5px 5px 15px #888888;
}
.headimg_main img{
    width: 100%;
    text-align: center;
    
}
/*
    headimg style end
*/

/*
    body style start
*/
.body_left_data{
    margin-bottom: 20px;
}
.body_rightmenu{
    padding-top: 15px;
    text-align: center;
    overflow: hidden;
}
.body_rightmenu img{
    border-radius: 10px;
    border-style: inset;
    border-width: 5px;
    padding: 0;
    border-color: #66ccff;
}
.body_r1{
    
    margin-top: 15px;
    border-bottom-style: outset;
    border-color:violet;
    border-width: 5px;
    border-right-style: outset;
    border-left-style: outset;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #888888;
    overflow: auto;
}
.body_data{
    margin-top: 20px;
    height: 75%;
    overflow: auto;
}
.body_data h1{
    margin-top: 0;
}
.body_bottom{
    float:right;
}
.body_bottom span{
    float: right;
    padding-left: 30px;
    color: #888888;
}
.body_r2{
    height: 250px;
    background-color: blue;
}
.body_r3{
    height: 250px;
    background-color: chocolate;
}
/*
    body style end
*/

/*
    bottom style start
*/
.bottom_pages{
    height: 50px;
    text-align: center;
    line-height: 50px;
    
}
.bottom_pages span{
    cursor: pointer;
    background-color: snow;
    border-color: #66ccff;
    border-style:outset;
    border-width: 2px;
    padding: 3px 8px;
}
.bottom_pages span:hover{
    border-color: blueviolet;
}
.bottom_pages span:focus{
    background-color: #888888;
    border-style: inset;
}
.bottom_main{
    overflow: hidden;
    background-color: #66ccff;
    float: left;
    padding: 15px 30px;
}
/*
    bottom style end
*/