<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Foxfish的博客
        </title>
        <link rel="shortcut icon" href="./image/icon.png">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />

        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="./css/style.css">

        <script src="./js/jquery.min.js"></script>  
        <script src="./js/bootstrap.min.js"></script> 
        <script src="./js/vue.min.js"></script>
        <script src="./js/vant.min.js"></script>
        <script src="./js/marked.min.js"></script>
        <script src="./js/control.js"></script>
    </head>
    <body>
        <div class="all_body">
            <script src="./js/leftmenu.js"></script>
            <div id="mainpage" class="all_main">
                <script src="./js/head.js"></script>
                <!--主体开始-->
                <div class="container">
                    <div id="aList" class="col-lg-9 col-xs-12 body_left_data">
                        <div v-for="at in list" class="col-lg-12 col-xs-12 body_r1">
                            <div id="body_r1" class="body_data">
                                <a :href="urlhead+at.url+'%27'">
                                    <h1>{{at.title}}</h1>
                                </a>
                                <p v-for="pa in at.digest">
                                    {{pa}}
                                </p>
                            </div>
                            <div id="body_b1" class="body_bottom">
                                <span>
                                    {{at.time}}
                                </span>
                                <span  class="label label-info lable_tag" v-for="t in at.tags" @click="alert(t);">
                                    {{t}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <script src="./js/rightmenu.js"></script>
                </div>
                <!--主体结束-->
                <!--底部开始-->
                <div class="col-lg-12 col-xs-12 container">
                    <div class="col-lg-9 col-xs-12 bottom_pages">
                        <span>previous</span>
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                        <span>next</span>
                    </div>
                </div>
                <script src="./js/tail.js"></script>
                <!--底部结束-->
                <script>
                    var articalList=new Vue({
                        el:"#aList",
                        data:{
                            urlbase:"http://localhost/blog",
                            urlhead:"./datapage.php?md=%27./article/",
                            list:[]
                        }
                    });

                    var xmlhttp=new XMLHttpRequest();
                    if(window.XMLHttpRequest){
                        xmlhttp=new XMLHttpRequest();
                    }else{
                        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    xmlhttp.onreadystatechange=function(){
                        if(xmlhttp.readyState==4&&xmlhttp.status==200){
                            datajson=JSON.parse(xmlhttp.responseText);
                            articalList.list=datajson.articles;
                            //alert(articalList.list[0].title);
                        }
                    }
                    xmlhttp.open("GET",'./article/articlelist.json',true);
                    xmlhttp.send();
                </script>
            </div>
        </div>

    </body>
</html>